<!-- views/partials/header.ejs -->


<header class="">
    <div class="container-fluid bg-dark  ">
        <div class="row  blue-underline">
            <div class="col-2 d-flex justify-content-center"><img src="/images/sunnyshark_logo.png" class="img-fluid w-50">
            </div>
            <div class="col">
                <h1 class="text-white text-uppercase pl-5 pt-4 title-font"> Gestion des automates</h1>
            </div>
        </div>
    </div>
</header>