<form action="/users/saveBassins" method="post" class="lato-font">

    <div class="form-group">
    
          <label for=""> Nom du bassin : </label>
          <input class="form-control" type="text" name="nom" required />
     
    </div>
    <input class="btn btn-success" type="submit" value="Valider" />
  
  </form>