<form action="/saveMarques" method="post" class="lato-font">

  <div class="form-group">
  
        <label for=""> Marque</label>
        <input class="form-control" type="text" name="nom"  />
   
  </div>
  <input class="btn btn-success" type="submit" value="Valider" />

</form>