<!-- FORMULAIRE QUI PERMET DE CRÉER UN DOCUMENT "SITE" DANS LA BDD -->
<form action="/users/saveSites" method="post" class="lato-font">

    <div class="form-group">
          <label for="">Nom du lieu</label>
          <input class="form-control" type="text" name="nom"  />
    </div>
    <div class="form-group">
        <label for="">  Adresse </label>
        <input class="form-control" type="number" name="adresse"  />
    </div>
    <div class="form-group">
        <label for="">  Telephone </label>
        <input class="form-control" type="number" name="telephone"  />
    </div>
       
    <div class="form-group" id="selectBassins1"> <label>Bassin affecté :</label></div>

    <input class="btn btn-success" type="submit" value="Valider" />
  
  </form>