<!-- FORMULAIRE QUI PERMET DE CRÉER UN DOCUMENT "TYPE_AUTOMATE" DANS LA BDD -->
<form action="/saveTypes" method="post" class="lato-font">

    <div class="form-group">
    
          <label for=""> Type d'automate</label>
          <input class="form-control" type="text" name="nom"  />
     
    </div>
    <input class="btn btn-success" type="submit" value="Valider" />
  
  </form>