

      <form action="/save" method="post">
        <table>
          <tbody>
            <tr>
              <td>Marque</td>
              <td><input type="text" name="marque" /></td>
            </tr>
            <tr>
              <td>Modèle</td>
              <td><textarea name="modele"></textarea></td>
            </tr>
            <tr>
              <td>Secteur</td>
              <td><input type="text" name="secteur" /></td>
            </tr>
            <tr>
              <td>Lieu</td>
              <td><input type="number" name="lieu" /></td>
            </tr>
            <tr>
              <td>Bassin affecté</td>
              <td><input type="number" name="bassin" /></td>
            </tr>
            <tr>
              <td>Numéro de série</td>
              <td><input type="number" name="numeroserie" /></td>
            </tr>
            <tr>
              <td colspan="2"><input class="btn btn-success" type="submit" value="Validé" /></td>
            </tr>
          </tbody>
        </table>
      </form>


