
<form action="/saveAutomates" method="post" class="lato-font" id="create-form">

  <div class="form-group " id="selectMarque1"></div>
    <div class="form-group" id="selectType1"  ></div>

  <div class="form-group">
    <div class="row">
      <div class="col">
        <label for=""> Date de mise en service</label>
        <input class="form-control" type="date" name="date_service"  />
      </div>
      <div class="col">
        <label for=""> Numero de Série </label>
        <input class="form-control" type="number" name="serial" required />
      </div>
    </div>

  </div>

  <div class="form-group">
      <label for=""> Configuration </label>
      <input class="form-control" type="number" name="configuration"  />
    </div>

 
     

  <input class="btn btn-success" type="submit" value="Valider" />

</form>
