<!-- PERMET GRÂCE A UN SCRIPT DE SELECTIONNER UN SITE DANS LE FORMULAIRE DE CREATION D'UN BASSIN-->
<label for=""> Selectionner le lieu </label>
<select class="form-control"  name="id_site">
    <% sites.forEach(function (site) { %>
        <option value="<%= site._id %>"><%= site.nom %></option>
    <% }) %>
</select>