<!-- PERMET GRÂCE A UN SCRIPT DE SELECTIONNER DES BASSINS DANS LE FORMULAIRE DE CREATION D'UN  SITE-->
<label for="">Site </label>
<select class="form-control"  name="id_bassin">
    <% bassins.forEach(function (bassin) { %>
        <option value="<%= bassin._id %>"><%= bassin.nom %></option>
    <% }) %>
</select>