<!-- PERMET GRÂCE A UN SCRIPT DE SELECTIONNER UN AUTOMATE DANS LE FORMULAIRE DE CREATION D'UN BASSIN-->
<label for="">Types</label>
<select class="form-control"  name="id_types">
    <% types.forEach(function (type) { %>
        <option value="<%= type._id %>"><%= type.nom %></option>
    <% }) %>
</select>