<!-- PERMET GRÂCE A UN SCRIPT DE SELECTIONNER UNE MARQUE DANS LE FORMULAIRE DE CREATION D'UN AUTOMATE-->
<label for="">Marques</label>
<select class="form-control"  name="id_marques">
    <% marques.forEach(function (marque) { %>
        <option value="<%= marque._id %>"><%= marque.nom %></option>
    <% }) %>
</select>