body {
 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.lato-font {

  font-family:"Lato",sans-serif;
}

.blue-underline{
 border-bottom: 10px #6CC6D4 solid;
}
.grey-color{
  color: rgb(180, 180, 180);
}

#create_button{
  position: relative;
  left:25px;
}

